html {
  background-color: #ded8d0;
}

body {
  margin: 0;
  text-align: center;
}

a img {
  border: none;
}

.content {
  background-color: #700;
  background-image: url(../images/intro.jpg);
  margin: 20px auto 0 auto;
  width: 600px;
  height: 500px;
  position: relative;
  text-align: left;
}

.events {
  font: 90% "Papyrus", "Oldtown", fantasy, cursive;
  position: absolute;
  top: 350px;
  height: 15em;
  width: 300px;
  color: white;
}

.events a {
  color: white;
}

.wedding {
  right: 0;
  background-color: black;
}

.dance { 
  left: 0;
  background-color: #6C110B;
}

h3 {
  padding: 1em 0 0.2em;
  font-size: 120%;
}

h3, ul {
  padding-left: 1.5em;
}

li span {
  font: 80% "Trebuchet MS", Verdana, sans-serif;
  color: #ccc;
  display: block;
  float: left;
  width: 9em;
  padding: 3px 5px 0 0;
  text-align: right;
  clear: both;
}