% layout "portland_blues_experience"

<h1>Portland Blues Experience</h1>
<p>brought to you by <%= link_to "Brenda", "/" %></p>

July 2nd-5th, 2009
In conjunction with the nations 2nd largest Blues Festival, Portland Blues Exchange

3 days of live music
over 100 performances by more than 80 acts on four stages

Featuring the Loose Marbles
Outdoor dance test with dancer's choice bands
Thursday welcome dance
Friday afternoon dance in the heart of downtown
Friday night riverboat blues cruise with 3 stages of live music
National DJs - Steven Watkins, Topher Howard, and more...
National performance acts - Joe & Nelle, Sister Kate, and more...
Friday, Saturday, Sunday late nights
Portland's largest fireworks display