% layout false

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Challenge!</title>
  
  <style type="text/css" media="screen">
    body {
      background-color: black;
      color: yellow;
      font-family: arial;
      padding: 4em 6em;
    }
    
    .content {
    }
    
    .title {
      text-align: right;
    }
    
    h1 {
      font-size: 80pt;
      font-weight: normal;
      margin: 0;
    }
    
    h2 {
      font-size: 35pt;
      font-weight: normal;
      margin: 0;
    }
    
    .enter {
      margin: 11em auto 0;
      width: 20em;
      text-align: center;
    }
    
    .enter i {
      display: block;
      font-size: 120%;
    }
    
    .enter a {
      margin-top: 2em;
      color: yellow;
    }
    
    h3.where_and_when {
      margin-top: 1em;
      font-weight: normal;
      font-size: 30pt;
      color: #666;
    }
  </style>
</head>
<body>
  <div class="content">
    <div class="title">
      <h1>CHALLENGE!</h1>
      <h2>dance workshop</h2>
    </div>
  
    <div class="enter">
      <i>are you up to it?</i>
      <br/>
      <h2><a href='concept.html'>ENTER</a></h2>
    </div>
    
    <h3 class="where_and_when">JAN 17-18.SEATTLE</h3>
  </div>
</body>
</html>
