<script src="js/jquery-1.2.6.pack.js" type="text/javascript"></script>
<script src="js/jquery.validate.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
	var validator = $(".registration").validate({
		rules: {
			name: "required",
			phone: "required",
			email: {required: true, email:true},
			role: "required",
			"package": "required",
		},
		messages: {
		  role: "Please select lead or follow",
		  "package": "Please choose a package"
		},
    // // the errorPlacement has to take the table layout into account
    errorPlacement: function(error, element) {
      if ( element.is(":radio") )
        error.appendTo(element.parent().parent().next());
      else
        error.appendTo(element.parent().next());
    },
    // // set this class to error-labels to indicate valid fields
    success: function(label) {
      // set &nbsp; as text for IE
      label.html("&nbsp;").addClass("checked");
    }
	});
});
</script>

<!-- saturday_spaces = BluesHeroRegistration.how_many_left_on(:saturday)
sunday_spaces = BluesHeroRegistration.how_many_left_on(:sunday) -->

<h1>Register</h1>

<!-- if saturday_spaces <= 0 && sunday_spaces <= 0
  em "Sorry, the workshop is full"
else -->
<form class="registration" method="post" action="http://registrar.onemanswalk.com/event/challenge/registrations">
  <table>
    <tr>
      <th colspan="3">About you</th>
    </tr>
    <tr>
      <td class="label"><label for="name">* Name</label></td>
			<td class="field"><input id="name" name="name"/></td>
			<td class="status"></td>
    </tr>
    <tr>
      <td class="label"><label for="phone">* Phone</label></td>
			<td class="field"><input id="phone" name="phone"/></td>
			<td class="status"></td>
    </tr>
    <tr>
      <td class="label"><label for="email">* E-mail</label></td>
			<td class="field"><input id="email" name="email"/></td>
			<td class="status"></td>
    </tr>
    <tr>
      <td class="label"><label for="role">* Follow/Lead</label></td>
			<td class="field">
  		  <label for="role_follow">
          <input  type="radio" id="role_follow" value="follow" name="role"/>
        	Follow
  			</label>
  		  <label for="role_lead">
          <input  type="radio" id="role_lead" value="lead" name="role"/>
        	Lead
  			</label>
			</td>
			<td class="status"></td>
    </tr>
    <tr>
      <td class="label"><label for="city">City</label></td>
			<td class="field"><input id="city" name="city"/></td>
			<td class="status"></td>
    </tr>
    <tr>
      <th colspan="3">Packages</th>
    </tr>
    <tr>
      <td class="label"><label for="role">* Sign me up for</label></td>
			<td class="field">
  		  <label for="package_saturday">
          <input type="radio" id="package_saturday" value="saturday" name="package" validate="required:true" />
        	Saturday Workshop - $65 
  			</label>
        <!-- <div class="note">only 11 available</div> -->
  		  <label for="package_sunday">
          <input  type="radio" id="package_sunday" value="sunday" name="package" validate="required:true" />
        	Sunday Workshop - $65
  			</label>
        <!-- <div class="note">only 11 available</div> -->
  		  <label for="package_weekend">
          <input  type="radio" id="package_weekend" value="weekend" name="package" validate="required:true" />
        	Full Weekend - $125
  			</label>
        <!-- show spaces left -->
			</td>
			<td class="status"></td>
    </tr>
    <tr>
      <th colspan="3">Other stuff</th>
    </tr>
    <tr>
      <td class="label"><label for="note">Anything Else?</label></td>
      <td class="field"><textarea id="note" name="note"></textarea></td>
      <td class="status"></td>
    </tr>
  </table>
  
  <br/>
  <h3>Your total is 65</h3>
  <br/>

  <!-- show price -->
  <input class="submit" type="submit" value="Register &amp; Pay">
</form>
