<html>
<head>
  <title>Jeremy &amp; Karissa Blues Workshop (March 2009)</title>
  <link href="stylesheets/reset-min.css" media="all" rel="stylesheet" type="text/css">
  <link href="stylesheets/style.css" media="all" rel="stylesheet" type="text/css">
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="content">
    <div class="inner_content">
      <div class="images">
        <a href="http://www.flickr.com/photos/onemanswalk/3024770308/"><img src="http://farm4.static.flickr.com/3253/3024770308_6bcbc061bd_s.jpg" width="75" height="75"/></a>
        <a href="http://www.flickr.com/photos/onemanswalk/3023940145/"><img src="http://farm4.static.flickr.com/3292/3023940145_20c5d8e4a7_s.jpg" width="75" height="75"/></a>
        <a href="http://www.flickr.com/photos/onemanswalk/209495062/"><img src="http://farm1.static.flickr.com/98/209495062_cdf8f10afc_s.jpg" width="75" height="75"/></a>
        <a href="http://www.flickr.com/photos/onemanswalk/309069975/"><img src="http://farm1.static.flickr.com/107/309069975_f35962d2c9_s.jpg" width="75" height="75"/></a>
        <br/>
        <a href="http://www.flickr.com/photos/onemanswalk/184456020/"><img src="http://farm1.static.flickr.com/59/184456020_14c605a640_s.jpg" width="75" height="75"/></a>
        <a href="http://www.flickr.com/photos/onemanswalk/1431770909/"><img src="http://farm2.static.flickr.com/1012/1431770909_c1a15cf2c3_s.jpg" width="75" height="75"/></a>
      </div>
      <h1>Blues Workshop <span>w/ Jeremy &amp; Karissa</span></h1>
      <div class="info">
        <h3><span>when:</span>March 21, 2009 11am - 4pm</h3>
        <h3><span>where:</span>1183 SE Haig St, Portland, OR 97202</h3>
        <h3><span>how much:</span>$20 / class or $40 / all 3 classes</h3>
        <div class="paypal">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3904058">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            or at the door
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
        <h3><span>for who:</span>Beginning-Intermediate to Intermediate-Advanced Dancers <br/>with some blues experience</h3>
      </div>
  
      <div class="classes">
        <img src="images/classes.png"></img>
        <h2>Classes</h2>
        <ul>
          <li>
            <h3><span>11am</span>GUSH: adding a little pause to your blues</h3>
            <p>
              <!-- - pause / stretch / gush -->
            </p>
          </li>
          <li>
            <h3><span>12:30pm</span>On or Off: cool moves using balance</h3>
            <p>
              <!-- - balance moves -->
            </p>
          </li>
          <li>
            <h3><span>2pm</span>Blues Dynamics: using momentum to launch your blues</h3>
            <p>
              <!-- - turns / momentum -->
            </p>
          </li>
        </ul>
      </div>

      <div class="website">learn more at http://jeremyandkarissa/2009/blues_workshop</div>
      
      <div class="video">
        <h2>Check out some of their dancing!</h2>

        <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/JNLKOV3FHvg&hl=en&fs=1&color1=0x3a3a3a&color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/JNLKOV3FHvg&hl=en&fs=1&color1=0x3a3a3a&color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed>
        </object>

        <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/nCVx2J5AMoA&hl=en&fs=1&color1=0x3a3a3a&color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/nCVx2J5AMoA&hl=en&fs=1&color1=0x3a3a3a&color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
    
        <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/hKCRiuiHzcg&hl=en&fs=1&color1=0x3a3a3a&color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/hKCRiuiHzcg&hl=en&fs=1&color1=0x3a3a3a&color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
    
        <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/cgU9jv0K1G0&hl=en&fs=1&color1=0x3a3a3a&color2=0x999999"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/cgU9jv0K1G0&hl=en&fs=1&color1=0x3a3a3a&color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
      </div>  
    </div>
  </div>
</body>
</html>
