% layout false
<html>
<head>
  <title>in loving memory of Bernardo Fresquez</title>
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="all" />
  <style type="text/css" media="screen">
    body {
      text-align: center;
    }
    h1 {
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="memory">IN LOVING MEMORY OF</div>
  <h1>Bernardo Fresquez</h1>
  
  <%= image_tag "bernie.jpg" %>
  
  <br/>
  <br/>
  <%= link_to "his poetry", "poetry.html" %><br/>
  <%= link_to "in pictures", "pictures.html" %><br/>
  <%= link_to "funeral program", "funeral_program.pdf" %><br/>
</body>
</html>
