<script src="javascripts/jquery-1.2.6.pack.js" type="text/javascript"></script>
<script src="javascripts/jquery.lightbox-0.5.pack.js" type="text/javascript"></script>
<script src="javascripts/jquery.flickr-1.0.js" type="text/javascript"></script>

<link href="stylesheets/jquery.lightbox-0.5.css" media="all" rel="stylesheet" type="text/css">
<link href="stylesheets/pictures.css" media="all" rel="stylesheet" type="text/css">

<script type="text/javascript" charset="utf-8">
  jQuery(function(){   
		jQuery("#gallery").html("").flickr({     
			api_key: "1df4861d8818ad25429e8302d6561f07",
			type: "search",
			tags: "bernardofresquez",
			per_page: 500,
			callback: function() {$('#gallery a').lightBox({fixedNavigation:true});}
		}); 
	});
</script>

<div id="gallery"></div>
