% content_for(:current_tab) { "home" }
% content_for(:superhero) { "supertopher.jpg" }

<div class="home_info">
  <b>Blues Hero Workshop is coming to Seattle May 10th &amp; 11th!</b>
  <br/>
  <br/>
  <div class="short_summary">
    One room, ten instructors to choose from, and three hours to unlock your superblues power with an hour of specialized instruction and time to practice in between short privates.
  </div>
  <br/>
  <br/>
  <br/>
  <a href="/register.html" id="register_button">REGISTER NOW!</a>
</div>
