% content_for(:current_tab) {"schedule"}
% content_for(:superhero) {"batjeremy.jpg"}

<div class="schedule">
  <h1>SCHEDULE</h1>
  
  <h2>WORKSHOP</h2>
  
  Halo - 500 E Pike St, Seattle, WA - 
  <a href="http://maps.google.com/maps?f=q&hl=en&geocode=&q=500+E+Pike+St&sll=47.60356,-122.32944&sspn=0.225933,0.466919&ie=UTF8&ll=47.614684,-122.32549&spn=0.007059,0.014591&z=16&iwloc=addr&iwstate1=actions">map</a>
  
  <table>
    <tr>
      <td>SAT</td>
      <td>12p-3:15p</td>
    </tr>
    <tr>
      <td>SUN</td>
      <td>12p-3:15p</td>
    </tr>
  </table>
  
  <h2>BLUES PARTY</h2>

  <del>Our House</del> Fortress of Solitude - 10100 4th Ave NW, Seattle, WA - 
  <a href="http://maps.google.com/maps?f=q&hl=en&geocode=&q=10100+4th+Ave+NW,+Seattle+(home)&sll=47.708491,-122.359757&sspn=0.014092,0.029182&ie=UTF8&ll=47.70348,-122.361689&spn=0.007047,0.014591&z=16&iwloc=addr">map</a>
  
  <table cellspacing="0">
    <tr>
      <td>SAT</td>
      <td>10p-3:30a</td>
    </tr>
  </table>
</div>