/* yahoo reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

html, body {
  margin: 0;
}

body {
  font-family: Tahoma,Helvetica,Arial,sans-serif;
}

/* global styles */

body, a {
  color: #444;
}

h1 {
  margin-bottom: 0.8em;
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  color: #2c3075;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h2 a {
  font-size: 0.77em;
  font-weight: normal;
}

p {
  margin: 0.7em 0;
}

bq {
  color: #999;
  font-style: italic;
}

/* layout */

.nav-bar {
/*  background-color: #166506;*/
/*  background-color: #991B16;*/
  padding: 1em 0;
}

.nav-bar a {
  color: #2c3075;
  text-decoration: none;
  font-size: 1.05em;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-bar .links {
  float: right;
  margin-right: -0.5em;
}

.nav-bar .links a {
  padding: 0 0.5em;
}

.page-title {
  background-color: #2c3075;
  color: white;
  padding: 0.2em 0 0.5em;
}

.page-title h1 {
  margin: 0;
}

.banner {
  background-color: #ECECEC;
}

.banner, .banner .fixed {
  height: 245px;
}

.banner .summary {
}

.one-col ul,
.left-col ul {
  margin-left: 2em;
  margin-bottom: 1em;
}

.one-col ul li,
.left-col ul li {
  list-style: circle inside;
}

.left-col {
  width: 600px;
}

.content {
  border-top: solid 2px #C0C0C0;
  border-bottom: solid 2px #C0C0C0;
/*  background-color: #ECECEC;*/
  padding: 0.5em 0 1em;
}

.content a {
  color: #2c3075;
}

.footer { 
  height: 3em;
  padding: 1em 0;
  background-color: #ECECEC;
}
.footer, .footer a { color: #999;}
.footer a:hover, a:active { color: #666;}
.footer .copy { float: right;}
.footer .links { float: left;}

.nav-bar, .page-title, .banner, .content, .footer {
  text-align: center;
}

.fixed {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}

.right-col {
  float: right;
  width: 300px;
}

.right-col .box {
  background-color: #ECECEC;
  padding: 0.5em 10px;
  margin-bottom: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.right-col .box h2 {
  background-color: #2c3075;
  color: white;
  font-weight: bold;
  margin: -0.5em -10px 0.5em;
  padding: 0.5em 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

.right-col .box ul li {
  margin: 0.5em 0;
}

.right-col .box a {
  color: black !important;
  text-decoration: none;
}

.right-col .box a:hover {
  text-decoration: underline;
}

.right-col .box .hint {
  color: #999;
}

.hint {
  font-size: 11pt;
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.clear { clear: both;}

/* backgrounds */

.seattle-background {
  background: url(/images/seattle.jpg) no-repeat;
}

.orange-background {
  background: url(/images/orange.jpg) no-repeat top right;
}

.hands-background {
  background: url(/images/hands.jpg) no-repeat top right;
}

.black-talking-background {
  background: url(/images/black_talking.jpg) no-repeat top right;
}

.denver-background {
  background: url(/images/denver.jpg) no-repeat top right;
}

/* convenience */

.right {
  float:right;
  margin-left:1em;
}

.left {
  float:left;
  margin-right:1em;
}

table.contacts {
  font-size: 0.9em;
}

table.contacts th {
  vertical-align: top;
  text-align: right;
  padding-right: 0.3em;
  color: #999;
}