a.pattern_link {
  font-weight: bold;
}

span.unknown_pattern_link {
  font-weight: bold;
  text-decoration: underline;
}

.pattern .feedback {
  position: absolute;
  margin-top: -2em;
  margin-left: 37em;
}

.pattern .feedback img {
  display:inline;
  float: right;
  margin: -2.5em;
}

.pattern .category {
  font-size: 120%;
  color: #aaa;
}

.pattern .story {
  font-style: italic;
  padding-bottom: 1em;
}

.pattern .summary {
  font-weight: bold;
  background: url(img/separator.png) no-repeat bottom center;
  padding-bottom: 3em;
  margin-bottom: 1em;
}

.pattern .problem {
}

.pattern .therefore {
  padding: 1em 2em;
  font-style: italic;
}

.pattern .answer {
  font-weight: bold;
  padding-bottom: 1em;
}

.pattern .details {
  background: url(img/separator.png) no-repeat bottom center;
  padding-bottom: 2em;
  margin-bottom: 1em;
}

.pattern .todo {
  color: red;
  font-style: italic;
  padding: 0 2em 1em;
}