body {
  font-size: 60%;
}

#content-right, #menu, #footer { 
  display: none;
}

#header {
  height: auto;
}

#header h1,
#header h2 {
  position: relative;
  bottom: auto;
}

#header,
#content-left,
#content {
  width: auto;
  margin: 0;
}