<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Blues brothers</title>

<link media="all" rel="stylesheet" type="text/css" href="reset.css" />
<link media="all" rel="stylesheet" type="text/css" href="stylesheet.css" />
<script type="text/javascript" src="jquery.js"></script>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#role').change(function() {
      var className = $("#role").val();
      
      if (className.indexOf('masters') != -1) {
        alert("To take the " + className + " you must be approved by a local teacher, please tell us which teacher you were approved by in the description when you buy your paypal ticket")
      }
    })
  })
</script>
</head>

<body>

<div class="header">
	<div class="header-content">
		<div class="register">
		  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="3MCNDHMZASAVL">
        <input type="hidden" name="on0" value="Role">
        <input type="hidden" name="currency_code" value="USD">
        <p>
          <select name="os0" id="role">
          	<option value="Lead">Lead $75.00</option>
          	<option value="Follow">Follow $25.00</option>
          	<option value="Lead + masters class">Lead + masters class $85.00</option>
          	<option value="Follow + masters class">Follow + masters class $35.00</option>
          </select>
        </p>
        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
		</div>
		<div class="tabs">
		  <a href="teachers.html">Teachers</a>
		  <a href="classes.html">Classes</a>
		  <a href="index.html">Home</a>
		</div>
		<img src="logo.png" class="logo">
		</img>
	</div>
</div>

<div class="content">
  
  <%= @content %>
  
  <div class="clearfix"></div>
</div>

</body>
</html>
