<html>
<head>
  <title>Jeremy &amp; Karissa</title>
  <link href="stylesheets/intro.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="content">
    <div id="wedding_button">
      <%= link_to image_tag("wedding_button.png"), "wedding/" %>
    </div>
    <div id="exchange_button">
      <%= link_to image_tag("exchange_button.png"), "exchange/" %>
    </div>
  </div>
</body>
</html>
