<h1>Van</h1>

<p>Wanna borrow our van? Here's how it works:</p>

<p>1) You fill out info in the spreadsheet (therefore agreeing to take responsibility for any bad shit</p>
<p>2) You come to our house and get the keys and van from our house </p>
<p>3) In the van write down the trip odometer mileage when you start driving on the 'Van Mileage Notebook" in van</p>
<p>4) Use!</p>
<p>5) You're done! Write down miles you've used and either pay in gas or pay in cash ($.20/mile)</p>
<p>6) Bring it back to our house. Pay $10 per use (+ any gas money) in envelope by keys. No matter how much you use it, don't pay more than $30 for every 3 months</p>

<p>Go to the <%= link_to "spreadsheet", "https://docs.google.com/spreadsheet/ccc?key=0AvQsuDRvUNILdGxHTUYzTGpEVmJMN0NqajJ2bVppd3c#gid=0" %></p>