% layout "blues_brothers"

<div class="home">
  <div class="info">
  Leads, your day has come at last! Blues Brothers is a workshop that focuses on making you the most popular lead ever.
  </div>

  <div class="teachers-table">		
  	<table class="pictures">
  		<tr>
  			<td><a href="teachers.html#calico_goodrich" title="Calico Goodrich"> 
  			  <img src="Teachers/calico.jpg" class="black_and_white"/>
  			  <img src="Teachers/calico.jpg" class="color"/>
  			</a></td> 
  			<td>Teachers</td>
  		</tr>
  		<tr>
  			<td><a href="teachers.html#karissa_lightsmith" title="Karissa Lightsmith"> <img src="Teachers/karissa.jpg" /></a></td>
  			<td><a href="teachers.html#-topher_howard" title="-topher Howard">  <img src="Teachers/topher.jpg" /></a></td>
			
  		</tr>
  		<tr>
  			<td><a href="teachers.html#solomon_douglas" title="Solomon Douglas"> <img src="Teachers/solomon.jpg" /></a></td>
  			<td><a href="teachers.html#daniel_newsome" title="Daniel Newsome"> <img src="Teachers/dan.jpg" /></a></td>
			
  		</tr>
  		<tr>
  			<td><a href="teachers.html#chris_chapman" title="Chris Chapman"> <img src="Teachers/chris.jpg" /></a></td>
  			<td><a href="teachers.html#brenda_russell" title="Brenda Russell"> <img src="Teachers/brenda.jpg" /></a></td>
  		</tr>
		
	
  	</table>
  </div>

  <div class="schedule">
    <table>
      <tr class="even">
        <th colspan="2">Sunday</th>
      </tr>
    	<tr class="odd">
    		<td class="time">10:30a</td>
    		<td>Registration</td>
    	</tr>
    	<tr class="even">
    		<td class="time">10:45a</td>
    		<td>Following for Leads <span>(Dan Newsome)</span></td>
    	</tr>
      <tr class="odd">
        <td class="time">12:10a</td>
        <td>Solo Man Movement <span>(Topher)</span></td>
      </tr>
      <tr class="even">
        <td class="time">1:25p</td>
        <td>Lunch</td>
      </tr>
      <tr class="odd">
        <td class="time">2:30p</td>
        <td>Productive Blues Patterns <span>(Chris Chapman)</span></td>
      </tr>
      <tr class="even">
        <td class="time">3:55p</td>
        <td>Karissa's Fascinating Rhythms <span>(Karissa)</span></td>
      </tr>
    </table>
    <table>
      <tr class="even">
        <th colspan="2">Saturday</th>
      </tr>
    	<tr class="odd">
    		<td class="time">10:30a</td>
    		<td>Registration</td>
    	</tr>
    	<tr class="even">
    		<td class="time">10:45a</td>
    		<td>Blues Your Walk <span>(Solomon)</span></td>
    	</tr>
      <tr class="odd">
        <td class="time">12:10a</td>
        <td>How Not to Surprise Your Follow <span>(Calico)</span></td>
      </tr>
      <tr class="even">
        <td class="time">1:25p</td>
        <td>Lunch</td>
      </tr>
      <tr class="odd">
        <td class="time">2:30p</td>
        <td>How To Be a Convincing Blues Dancer <span>(Brenda)</span></td>
      </tr>
      <tr class="even">
        <td class="time">3:55p</td>
        <td>Master Class <span>(Brenda)</span></td>
      </tr>
    </table>
  
    <p class="hint">
      One-day packages, Master class only package, and other special-exception packages available upon request.
    </p>
    <p class="hint">
      Contact <a href="mailto:calico.goodrich@gmail.com">Calico Goodrich</a> for more details.
    </p>
  </div>
</div>