% layout "blues_brothers"

<div class="teachers">

<h1>Teachers.</h1>

<div class="teacher">
  <a name="brenda_russel"></a>
  <img src="Teachers/brenda.jpg"></img>
  <h2>Brenda Russel</h2>
  <p>
    Brenda is fulfilling her childhood dream as a professional dancer and instructor. She studies African American street dances from the turn of the century to the present. Brenda travels around the world teaching and training with various coaches and historians. Her strength is breaking down the dances in a way that is accessible for anyone, even if they don't have a dance background. She strives to help her students find the dancer with-in themselves, taking inspiration from dancers of the past. Brenda is working with the Blues dance community during this time of growth to develop curriculum and events that raise the community's level of dancing. Her hope is to provide structure for duplicable material, while keeping the inherent character and nature of the dance.
  </p>
  <hr/>
</div>

<div class="teacher">
  <a name="calico_goodrich"></a>
  <img src="Teachers/calico.jpg"></img>
  <h2>Calico Goodrich</h2>
  <p>
    Born in the year of the monkey, Calico is innovative and playful on the dance floor. She has been accused of being 'creative' and 'fly'. The improvisational qualities of lindy hop and blues dancing suit her monkey nature down to the ground. In spite of her intractable bias towards these dances, she loves all dances, with an especial fondness for balboa. 
  </p>
  <hr/>
</div>

<div class="teacher">
  <a name="chris_chapman"></a>
  <img src="Teachers/chris.jpg"></img>
  <h2>Chris Chapman</h2>
  <p>
    Chris Chapman brings extensive training in a variety of social dances, movement analysis, the history of swing dancing, and his training from some of the legends of the dance! His passion, expertise, and strong teaching ability ensure fun and exciting classes for all levels of dancers! Chris is an American Lindy Hop Champion, a Pacific Northwest Lindy Hop Champion, and has won or placed in many contests and divisions. He is recognized as a top instructor and performer having toured all over North America.
  </p>
  <hr/>
</div>

<div class="teacher">
  <a name="daniel_newsome"></a>
  <img src="Teachers/dan.jpg"></img>
  <h2>Dan Newsome</h2>
  <p>
    Daniel Newsome has been a professional dancer, dj and historian for the last 10 years. In addition to teaching tens of thousands of students at Denver's Mercury Cafe Daniel has also travelled to learn, teach, compete and has won at major national competitions such as the Ultimate Lindy Hop Showdown, Midwest Lindy Fest, Reno Dance Sensation, National Jitterbug Championships and the Rhythmic Arts Festival. He also co-founded, choreographed and coached 23 Skidoo, Denver's nationally recognized swing team, which placed 1st at every competition they went to in 2006 and 2007. Daniel's lifelong pursuit is touching as many lives as possible with the beauty and artisty of Lindy Hop, Shag, Balboa, Solo Jazz Dance and Tap. His goal is to bring music and dance to people in a way that inspires them and develops talent in anyone, regardless of background, age or ability.
  </p>
  <hr/>
</div>

<div class="teacher">
  <a name="karissa_lightsmith"></a>
  <img src="Teachers/karissa.jpg"></img>
  <h2>Karissa Lightsmith</h2>
  <p>
    Karissa is known around the country for her energy and creativity in blues dancing. She has been dancing for 6 crazy years, during which, she's traveled and danced extensively around the world.
  </p>
  <p>
    She brings vitality, drive, and pure joy to her students.
  </p>
  <hr/>
</div>

<div class="teacher">
  <a name="solomon_douglas"></a>
  <img src="Teachers/solomon.jpg"></img>
  <h2>Solomon Douglas</h2>
  <p>
    Solomon is well respected worldwide as a teacher of Lindy Hop, Balboa, Charleston, and Vernacular Jazz, and has a reputation as a Blues Dancing specialist; he has taught Blues workshops in Australia, Singapore, Korea, Canada as well as many of the 50 states.
  </p>
  <hr/>
</div>

<div class="teacher">
  <a name="-topher_howard"></a>
  <img src="Teachers/topher.jpg"></img>
  <h2>-topher Howard</h2>
  <p>
    -topher's passion for dancing is contagious.  He believes that freedom of expression in dance comes from balancing technique with spirit.  His passion for freedom and movement inspires him to study a variety of dances, and in 2000 he started a blues and swing club at his college and has been teaching ever since.  -topher's unrivaled enthusiasm for learning enlivens all his classes. He lives in Seattle where he makes his living teaching and writing poetry.
  </p>
</div>

</div>