<script src="javascripts/jquery.flickr-1.0.js" type="text/javascript"></script>
<%= heading :about_me %>

"Why so serious?"  That's what people always ask when they first observe me.  I think I was born with that look on my face.  My aunt said I was so serious as a child it was intimidating.  Don't let my look of concentration mislead you.
 
Really I am a layed back, easy going, pretty geeky girl.  It's the geeky part that tends to put me in a focused, driven sort of state.  I can be intense.  I don't do things a little bit.  I go for it, and with passion.  Like the meaning of my name "enthusiastic, fire brand".
 
I am in many ways introverted, like most technicians.  I can be particular, but am not as obsessive as I often get accused of.  I love my work and my students.  I give as much as I can and sometimes more to teaching.  I really love studying movement and watching the transformation that occurs when someone shifts the way they stand, breath, move.
 
I also love kids, being around them relaxes me.  I love hiking, swimming, laying in the sun, drinking tea, reading books, gardening, cooking.  All the typical life stuff.  I even love cleaning.
 
I am also a nutrition nerd, and crazy irrational shopper.  I love shopping, I love stores.  I like grocery shopping, clothes shopping, any kind of shopping really.  Antique, thrift, and garage sale shopping are the best.

h2. Photos

<%= gallery ".photos", :type => "search", :tags => "brenda_good" %>
<div class="some photos"></div>

Or "see more photos":photos.html

h2. Video

<object width="320" height="265"><param name="movie" value="http://www.youtube.com/v/eR8MuhN4UKU&hl=en&fs=1&rel=0&color1=0x234900&color2=0x4e9e00"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/eR8MuhN4UKU&hl=en&fs=1&rel=0&color1=0x234900&color2=0x4e9e00" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265"></embed></object>

Or "see more dance videos":videos.html

h2. Past Events & Workshops

* Balboa Rendezvous
* London Balboa Festival
* Munich Balboa Weekend
* SF Balfest
* Down Home Blues Shout
* Emerald City Blues Festival
* Mile High Blues
* Enter The Blues
* Montreal Bagels and Blues
* Chico Dance Sensation
* Reno Dance Sensation
* Philladelphia Lindy and Blues Anniversary
* San Francisco Salsa Congress
* Experience Salsa Weekend