<script src="javascripts/jquery.flickr-1.0.js" type="text/javascript"></script>
% helper :bios

h1. Book an Event

brenda: what is an event?

brenda: how do I work with events?

Once you're ready to book me for an event, go ahead an e-mail me by clicking this link :

p(buttons). <%= button_to "Book an Event", "mailto:brenda@dancemode.com?subject=[BOOK+EVENT]" %>

h2. Availability

First, check my "calendar":calendar.html to see if I'm available for your event.

h2. Rates

brenda: event rates?

h2. Promotion Material

h3. Bios

<%= all_bios %>

h3. Photos

<%= gallery ".photos", :type => "search", :tags => "brenda_events" %>

<div class="some photos"></div>

Or "see more photos":photos.html

h2. Classes for Events

brenda: all classes appropriate for events

