<style type="text/css" media="screen">
  a.button {
    display: block;
    width: 12em;
    text-align: center;
    margin-bottom: 0.5em;
  }
</style>

<h1>Welcome</h1>

<p>brenda: quick welcome to my site</p>

<p>jeremy: choose picture for this page</p>

<%= button_to "Schedule a Private", "privates.html" %>
<%= button_to "Book an Event", "events.html" %>
<%= button_to "Book a Workshop", "workshops.html" %>



- Brenda