<script src="javascripts/jquery.flickr-1.0.js" type="text/javascript"></script>
% helper :bios

h1. Book a Workshop

brenda: what is a workshop?

brenda: how do I work with workshops?

Once you're ready to book me for a workshop, go ahead an e-mail me by clicking this link :

p(buttons). <%= button_to "Book a Workshop", "mailto:brenda@dancemode.com?subject=[BOOK+WORKSHOP]" %>

h2. Availability

First, check my "calendar":calendar.html to see when I am available to do a workshop.

h2. Rates

brenda: workshop rates?

h2. Promotion Material

h3. Bios

<%= all_bios %>

h3. Photos

<%= gallery ".photos", :type => "search", :tags => "brenda_events" %>

<div class="some photos"></div>

Or "see more photos":photos.html

h2. Classes for Workshops

brenda: all classes appropriate for workshops

