html {
  background-color: #5a4a42;
}

body {
  font-family: verdana, arial;
  font-size: 85%;
  margin: 0;
}

.header {
  background: url(../images/top_border.png) repeat-x bottom left;
  padding-bottom: 20px;
}

.header .knot,
.middle .knot {
  width: 64em;
  margin: 0 auto;
}

.header .knot img {
  float: left;
}

.middle .knot img {
  float: right;
}

.footer {
  background: url(../images/bottom_border.png) repeat-x top left;
  padding-top: 11px;
}

.header .logo {
  margin: 0 auto;
  width: 66em;
}

.header .menu {
  padding-top: 0.5em;
  margin: 0 auto;
  width: 60em;
  text-align: right;
}

.header .menu a,
.footer .links a {
  color: #7c6c64;
  text-decoration: none;
  margin-left: 1.5em;
  font-weight: bold;
  font-size: 90%;
}

.footer .links {
  text-align: center;
  margin-top: 1em;
}

.header .menu a:hover {
  text-decoration: underline;
}

.middle {
  background-color: #5e6e65;
  padding: 0.5em;
}

.middle .content {
  margin: 0 auto;
  width: 54em;
  color: white;
}

img.heading {
  margin: 0 -3em 1em;
}

img.signature {
  float: right;
}

.middle .content a {
  color: white;
}

.middle .content .buttons {
  padding: 1em;
  text-align: center;
}

.middle .content a.button {
  padding: 0.5em 1em;
  text-decoration: none;
  border: solid 3px;
  color: #5a4a42;
  background-color: #f8e19b;
  border-top-color: #f8f6ee;
  border-right-color: #f8cb45;
  border-bottom-color: #f8cb45;
  border-left-color: #f8f6ee;
}

h1 {
  font-family: serif;
  font-weight: normal;
  font-size: 36pt;
  margin: 10px 0 0 0;
}

h2 {
  border-bottom: solid 2px white;
  border-right: solid 2px white;
  width: 80%;
  font-weight: normal;
}

/* bios */

.bio {
  font-style: italic;
  padding: 0 3em;
}

.bio .full_text {
  display:none;
}

.bio.full_text .excerpt {
  display:none;
}

.bio.full_text .full_text {
  display:block;
}

/* photos */

a img {
  border: 0;
}

.photos.some {
  padding: 0 3em;
}

.photos ul {
  padding: 0;
}

.photos li {
  display: inline;
}

.photos img {
  padding: 10px;
}