h1. Bands

<a name="mighty_aphrodite"></a>

h2. Mighty Aphrodite

<%= image_tag "mighty_aphrodite.jpg", :class => "left" %>

The "Mighty Aphrodite Jazz Band":http://mightyjazz.com/ is an exciting group of young women from up and down the west coast of Canada and The United States. These seven dynamic females are one of the hottest new bands to hit the jazz circuit! The group ranges stylistically from hot new orleans to early swing, powered by strong ensemble playing, inventive soloists, and of course that female touch. Be prepared for something different.

"We did not hear a band in San Diego more polished or professional than the Mighty Aphrodite. Lots of slick instrumental features and vocals from everybody. We'd been telling people that they were going to kill at the Thanksgiving show. How nice to be right; large, rapt crowds attended their sets. It isn't really news to say that Bria Skonberg has the trumpet chops to play with anyone. She and Claire McKenna ought to write a little book about how to get a new band in shape in a short time. They can hardly fail to become fixtures on the national and international circuit... 

—Jim Leigh, The American Rag

<a name="rebecca_kilgore"></a>

h2. Rebecca Kilgore

<%= image_tag "rebecca_kilgore.jpg", :class => "left" %>

"Rebecca Kilgore":http://rebeccakilgore.com/ is one of America's leading song stylists who finds particular delight in preserving and interpreting the great vocal jazz of the 30s and 40s, an era she feels is noted for high quality songwriting and heartfelt lyrics.

With over 30 recordings in her discography, some of her most notable are with Dave Frishberg on piano, and she has teamed with him on long standing engagements in Portland, Oregon, where they both reside. She's also part of a quartet called BED ("Becky, Eddie—Eddie Erickson, Dan—Dan Barrett"), which captivates audiences with its eclectic repertoire of classic jazz. She has been invited to perform with the Statesmen Of Jazz, dedicated to perpetuating the art of jazz for future generations.

<a name="solomon_douglas"></a>

h2. The Solomon Douglas Swingtet

<img src="http://solomondouglas.com/swingtet_photos/thumbnail_wholeband1.jpg" height="200" class="right"/>

"Solomon Douglas":http://solomondouglas.com/ is a jazz pianist and bandleader, whose various bands have played at more than fifty exchanges, camps, workshops, and other dance events in North America, Asia, and Australia in the past seven years. His experience as a swing dancer and dance instructor gives him an understanding unique among musicians of the music that swing dancers and blues dancers like to dance to!

The Solomon Douglas Swingtet is a ten-piece dance band whose repertoire is rooted in that of the Basie band (One O'Clock Jump, Jive at Five, Splanky, Shorty George, Shiny Stockings) and that of the Ellington band (Cottontail, "C" Jam Blues, Mood Indigo, Take The "A" Train), with other big-band standards and classic jazz tunes thrown in as well. They can cater to a crowd that prefers up-tempo classic swing, to a crowd that prefers slower groovier jazz, or to anything in between.

<a name="kevin_buster"></a>

h2. Kevin Buster's Lunch Money

<img src="http://kevinbuster.com/images/photogallery/kevin_pineerSquare.jpg" height="200" class="left"/>

Lunch money is a rocking Swing and Blues band led by local dancer "Kevin Buster":http://kevinbuster.com/.  

<a name="sean_hunting_morse"></a>

h2. Sean Hunting Morse

<img src="http://b3.ac-images.myspacecdn.com/00071/34/56/71156543_m.jpg" class="right"/>

Born and raised in northeast Florida, "Sean":http://www.myspace.com/10988596 didn't have a sentient thought until he picked up a guitar for keeps at the age of 21. Now 26, he's placing jazz and blues in a folk package and performing occassionally to raves and indifference.

<div style="clear:both"></div>