<html>
<head>
  <title>Facilitation Patterns</title>
  <link rel="stylesheet" href="delight.css" type="text/css" media="all" />
  <link rel="stylesheet" href="style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="pattern.css" type="text/css" media="all" />
  <link rel="stylesheet" href="print.css" type="text/css" media="print" />
</head>
<body>
<div id="header">
	<h1><a href="http://facilitationpatterns.org/">Facilitation Patterns</a></h1>
	<h2>jeremy lightsmith on facilitation</h2>
</div>

<ul id="menu">
	<li class="page_item"><a href="http://onemanswalk.com/">home</a></li>
	<li class="page_item"><a href="http://onemanswalk.com/work">work</a></li>
	<li class="page_item"><a href="http://onemanswalk.com/life">life</a></li>
	<li class="page_item"><a href="http://flickr.com/photos/onemanswalk/collections">pictures</a></li>
	<li class="page_item current_page_item"><a href=".">facilitation patterns</a></li>
</ul>
<div class="clear"></div>

<div id="content">
  <div id="content-left">
    <div class="box-left">
      <%= content %>
    </div>
  </div>
  <div id="content-right">
    <div class="box-right catalog">
      <h3>Catalog</h3>
%     patterns_by_category.each do |category, patterns|
        <h4><%= category.titleize %></h4>
%       patterns.each do |pattern|
          <p><a href="<%= pattern.symbol %>.html"><%= pattern.name %></a>
%       end
%     end
      <div class="box-right-bottom"></div>
    </div>
  </div>
</div>
<div class="clear"></div>

<div id="footer">
  <p id="legal">
    If you have comments, ideas, feedback, impressions, suggestions, or even complaints, I would love to hear them.  Email me at 
    <a href="mailto:jeremy.lightsmith@gmail.com">jeremy.lightsmith@gmail.com</a>
  </p>
  <p id="legal">
  </p>
  <p id="legal">
    All material on this site is copyright &copy; 2008 by Jeremy Lightsmith
  </p>
</div>
</body>
</html>