<html>
<head>
  <title>Jeremy Lightsmith</title>
  <link href="stylesheets/style.css" media="all" rel="stylesheet" type="text/css">
  <style type="text/css" media="screen">
    .nav-bar {
      background-color: #2c3075;
    }
    .nav-bar a {
      color: white;
    }
    .content {
      padding-top: 1em;
    }
  </style>
</head>
<body>
  <div class="nav-bar">
    <div class="fixed">
      <div class="links">
        <%= nav_links %>
      </div>

      <%= link_to image_tag("white_logo.png"), "/" %>
    </div>
  </div>
  
  <%= content %>
  
  <div class="footer">
    <div class="fixed">
      <span class="copy">&copy; Jeremy Lightsmith 2009</span>
      <span class="links">312-953-1193 | <a href="mailto:jeremy.lightsmith@gmail.com">jeremy.lightsmith@gmail.com</a> | Seattle, WA</span>
    </div>
  </div>
</body>
</html>
