@import "reset.css";
@import "core.css";

@import "cmxformTemplate.css";
@import "cmxform.css";

@import "registration.css";

html {
  background: url(../img/striped_background.png) #bebdbd repeat-x;
}

body {
  font-family: verdana, arial;
}

.header, .content {
  width: 60em;
  margin: 0 auto;
}

.header {
  color: yellow;
  height: 60px;
  border-bottom: yellow solid 5px;
  margin-bottom: 5px;
} 

.header .title {
  float: left;
  font-size: 4.7em;
  margin-top: -0.15em;
}

.header .where_and_when {
  float: right;
  font-size: 1.8em;
  text-align: right;
}

.right_side {
  width: 11em;
  float: right;
}

.right_side a {
  color: yellow;
  display: block;
  font-size: 140%;
  margin: 0.5em 0;
  text-decoration: none;
  padding-left: 1em;
}

.right_side a:hover {
  text-decoration: underline;
}

.left_side {
  width: 47em;
  padding: 1em;
  background: url(../img/background_gradient_light.png) #9a9a9a repeat-x;
}

h1 {
  padding-top: 0;
  padding-left: 0;
}

h2 {
  border-bottom: solid 2px gray;
  padding-left: 0;
  font-size: 150%;
}

.schedule h2.lunch {
  border: none;
  padding: 1em;
  font-size: 120%;
}

.schedule h2.day {
  border: none;
  background-color: black;
  color: white;
  margin-left: -0.4em;
  padding: 0.2em 0.4em;
}

fieldset {
  border-color: gray;
}

form dt {
  float: left;
  width: 10em;
  text-align: right;
}

form dd {
  padding-left: 8em;
}

.clear {
  clear: both;
}

html {
  background: url(../img/background_gradient.png) #bebdbd repeat-x;
  background-position: 0 -40px;
}

.footer {
  clear: both;
  padding: 2em;
  text-align: center;
}

.footer a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.testimonial {
  color: #666;
  font-style: italic;
}

.from {
  color: black;
  font-weight: bold;
  text-align: right;
}

.schedule 