<div class="banner">
  <div class="fixed black-talking-background">
    <img src="/images/build_the_right_product.gif">
  </div>
</div>
<div class="content">
  <div class="fixed">
    <%= sidebar %>

    <div class="stuff">
      <p>I am a trainer, coach, and facilitator with over 11 years of helping software teams build and deliver products that customers love.</p>
      
      <!-- 
      <p>I excel at building trust and </p>
        
         become more agile, learn best practices organizing and building software products and teams that benefit from uncommon attention to the human dynamic involved.</p>

      <p>He spends his time</p>
      Esther Derby is one of the rare breed of consultant who blends the technical issues, and the managerial issues with the people issues. She is well known for her work in helping teams grow to new levels of productivity.

      Management coaching, Scrum implementation, retrospectives, and project assessments are four of Esther’s key practices that serve as effective tools to start team transformation. 

      Recognized as one of the world’s leaders in retrospective facilitation, she often receives requests to work with struggling teams. Esther also coaches technical people who are making the transition to management and is a Certified Scrum Master.
      
      <p>I am a trainer, coach, and facilitator in Seattle.  I have been consulting My background is working with high performant agile teams</p>
      <p>Software development has many  are hard problems with hard won solutions.</p>
      
      <p>Jeremy Lightsmith is a trainer, coach, and facilitator in Seattle.  He is I work with , I join teams as they try to solve these problems.</p>
      
      <p>I work with software teams to find ways to Jeremy spends most of his time &amp; energy building highly performant development teams.</p>

      <p>A seasoned agile coach &amp; facilitator, Jeremy excels at creating environments where teams can discover how they work best.  He has a deep understanding of agile, and is constantly looking for better ways to share knowledge and collaborate.  As a presenter, Jeremy favors interactive and group techniques and pulls from disciplines as diverse as improv and Montessori.</p>

      <p>Though Jeremy is now an independent consultant in Seattle, most of his 11 year career has been spent at companies like ThoughtWorks and Pivotal.  During his time at ThoughtWorks, Jeremy coached teams and trained facilitators; he owes much of his toolbox to the ThoughtWorkers with whom he worked.  He is currently writing a book about Facilitation Patterns.</p>
    </div> -->
    <div class="clear"></div>
  </div>
</div>
