% layout :new_application
% content_for(:css) { "home" }

<!-- hero -->
<div class="odd-container">
  <div class="container">
    <img src="/images/jeremy-brown-shirt.jpg" class="pull-left"/>

    <p>I help teams unleash themselves. I might be able to help you if you are a...</p>

    <h4>Dev team that wants to create great products.</h4>

    <p>
    </p>

    <p><a href="/motivated_teams.html">Read more...</a></p>

    <h4>Small or medium company that wants to introduce agile</h4>

    <p><a href="/introducing_agile.html">Read more...</a></p>

    <h4>Enterprise that is struggling to become more agile</h4>

    <p><a href="/agility_in_the_enterprise.html">Read more...</a></p>

  </div>
</div>

<!-- working with jeremy -->
<div class="even-container">
  <div class="container">
    <h1>working with jeremy</h1>

    <img src="/images/hands.jpg" class="pull-right"/>
  </div>
</div>

<!-- case study -->
<div class="odd-container">
  <div class="container">
    <h1><span class="case-study">case study</span>nordstrom innovation lab</h1>

    <div class="video-container">
      <iframe width="750" height="411" src="http://www.youtube.com/embed/szr0ezLyQHY?wmode=transparent" frameborder="0" allowfullscreen="1"></iframe>
    </div>

    <br/>

    <p>
      "It's one thing to talk about 'rapid experimentation' and 'validated learning' as abstract concepts. It's quite another to see them in action, in a real-world setting."
      <br/>
      - Eric Ries, <a href="http://www.startuplessonslearned.com/2011/10/case-study-nordstrom-innovation-lab.html">Startup Lessons Learned</a>
    </p>

  </div>
</div>

<!-- partners -->
<div class="even-container">
  <div class="container">
    <h1>partners</h1>

    <ul class="thumbnails">
      <li class="span2">
        <div class="thumbnail">
          <img src="/images/partners/jeff_patton2.jpg">
          <h4>Jeff Patton</h4>
          <p>
            <a href="http://comakewith.us/">Comakers</a>,
            <a href="http://www.agileproductdesign.com/">agileproductdesign.com</a>
          </p>
          <p>Jeff ...</p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="/images/partners/jim_benson.jpg">
          <h4>Jim Benson</h4>
          <p>
            <a href="http://moduscooperandi.com/">Modus Cooperandi</a>, 
            <a href="http://www.personalkanban.com/">Personal Kanban</a>
          </p>
          <p>Jim ...</p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="/images/partners/diana_larsen.jpg">
          <h4>Diana Larsen</h4>
          <p>
            <a href="http://futureworksconsulting.com/">Future Works</a>
          </p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="/images/partners/adam_light.jpg">
          <h4>Adam Light</h4>
          <p><a href="http://www.sotechadvisors.com/">Sotech Advisors</a></p>
          <p>
          </p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="/images/partners/joe_steiner.jpg">
          <h4>Joseph Morgan-Steiner</h4>
          <p>
            Joseph helps people with presentations and pitches.
          </p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="/images/partners/matt_smith.jpg">
          <h4>Matt Smith</h4>
          <p><a href="http://matt-smith.net/">About Matt</a></p>
          <p>
            Matt is a brilliant theatre improv coach. I have brought him in to help teams remember how to bring creativity, play, and "yes, and ..." thinking into their work.
          </p>
        </div>
      </li>
    </ul>

  </div>
</div>

<!-- testimonials -->
<div class="odd-container">
  <div class="container">
    <h1>testimonials</h1>
  </div>
</div>

<!-- contact -->
<div class="contact-container">
  <div class="container">
    <h1>contact</h1>

    <img src="/images/jeremy-drawing.png" class="pull-right"/>

    <p>I am based in Seattle, WA.</p>

    <p>call me : 312-953-1193</p>
    <p>email me : <a href="mailto:jeremy.lightsmith@gmail.com"> jeremy.lightsmith@gmail.com</a></p>
    <p>
      or find me on : <br/>
      <a href="https://twitter.com/lightsmith"><img src="/images/social-icons/twitter_64.png"/></a>
      <a href="http://www.linkedin.com/in/jeremylightsmith/"><img src="/images/social-icons/linkedin_64.png"/></a>
      <a href="http://www.facebook.com/jeremy.lightsmith"><img src="/images/social-icons/facebook_64.png"/></a>
      <a href="https://github.com/jeremylightsmith"><img src="/images/social-icons/github_64.png"/></a>
    </p>
  </div>
</div>
