% content_for(:title) { "Services" }
% content_for(:type) { "one-col" }

<%= image_tag "hands.jpg", :style => "float: right; margin-left: 1em; width: 280px;" %>

<bq>
  <p>At the end of the day what matters is working software - value in the hands of the your customer.  I can help you get it there</p>
</bq>

<a name="requirements_discovery_workshops"></a>
<div class="service">
  <h2>Requirements Discovery Workshops <span class="hint">build the right product</span></h2>

  <p></p>
</div>

<a name="agile_enablement"></a>
<div class="service">
  <h2>Agile/Scrum Enablement <span class="hint">deliver it when you said you would</span></h2>
  
  <p>In an uncertain, quickly changing world, I have been working with teams moving towards agile since 2000. more agile  agile worked with t</p>
</div>

<a name="retrospectives"></a>
<div class="service">
  <h2>Retrospectives <span class="hint">adopt a culture of innovation</span></h2>
  
  <p>Retrospectives are a way to reflect over the past as a team.  They provide a ceremony for identifying areas to improve and for celebrating successes.  Run a retrospective at the end of an iteration, at the end of a release, or as a project concludes.  They help us get smarter.</p>
</div>

<a name="best_practices"></a>
<div class="service">
  <h2>Developer Training / Coaching <span class="hint">make it all fun</span></h2>
  
  <p>There are many practices that agile introduces that take a bit of knowledge and work to get just right.  You might bring me in to help you with :</p>
  
  <ul>
    <li>
      Test Driven Development - which may include
      <ul>
        <li>Unit Testing</li>
        <li>Acceptance Testing</li>
        <li>Test Automation</li>
      </ul>
    </li>
    <li>Pair Programming</li>
    <li>Continuous Integration</li>
    <li>Refactoring</li>
  </ul>
</div>

<a name="facilitation"></a>
<div class="service">
  <h2>Facilitation</h2>
  
</div>
