% content_for(:title) { "Services" }

<%= image_tag "hands.jpg", :style => "float: right; margin-left: 1em; width: 280px;" %>

<bq>
  <p>At the end of the day what matters is working software - value in the hands of the your customer.</p>
  <p>I can help you get it there</p>
</bq>

<a name="requirements_discovery_workshops"></a>
<div class="service">
  <h2>Requirements Discovery Workshops<div class="hint">build the right product</div></h2>

  <p></p>
</div>

<a name="agile_enablement"></a>
<div class="service">
  <h2>Agile/Scrum Enablement<div class="hint">deliver it when you said you would</div></h2>
  
  <p></p>
</div>

<a name="retrospectives"></a>
<div class="service">
  <h2>Retrospectives<div class="hint">adopt a culture of innovation</div></h2>
  
  <p>A Retrospective is a practice that looks back over  are a way to introduce a practice around continuous improvement to your organization.</p>
</div>

<a name="best_practices"></a>
<div class="service">
  <h2>Developer Best Practice Workshops<div class="hint">make it all fun</div></h2>
  
</div>

<a name="facilitation"></a>
<div class="service">
  <h2>Facilitation</h2>
  
</div>
