% content_for(:title) { "Services" }
% content_for(:type) { "one-col" }

<%= image_tag "hands.jpg", :style => "float: right; margin-left: 1em; width: 280px;" %>

<p>At the end of the day, I <b>help software teams be agile</b>.  But that's a pretty big task, and if you'd like to get a better feel for <i>how</i> I do it, take a look at some of my offerings :</p>

<a name="agile_enablement"></a>
<div class="service">
  <h2>Agile/Scrum Enablement <span class="hint">deliver it when you said you would</span></h2>
  
  <p>Since 2000, I have been coaching teams through their transition to agile.  I've worked with teams as small as 10 people, and as big as 70.  Moving to agile is hard, and it's good to have an experienced hand around.</p>
  
  <p>There are different models I've followed for adopting agile, and every organization is different.  In your organization this might look like :</p>
  
  <ul>
    <li>Doing an initial process evaluation &amp; recommendation session optionally followed by bi-weekly visits to assess improvement</li>
    <li>Leading training sessions for project management, <%= link_to "developers", "#best_practices" %>, and testers</li>
    <li>Being on-site 1/2 time for a couple months</li>
    <li>Being on-site fulltime for a couple weeks followed by occasional visits for the rest of your team's release</li>
    <li>Collaborating with other local coaches to bring agile to larger teams in parallel</li>
    <li>Leading a <%= link_to "requirements discovery workshop", "#requirements_discovery_workshops" %> followed by some of the above</li>
  </ul>
  
  <p>Some of these approaches fit certain organizations better than others.  How self directed is your organization?  How does it respond to change?  How big of a budget do you have for this training?  Is moving to agile an officially sanctioned decision, or is the goal to make a couple changes to the process and produce some feedback for management to inspect?</p>
  
  <p>I am an experienced XP Coach and a Certified Scrum Master.</p>
</div>

<a name="requirements_discovery_workshops"></a>
<div class="service">
  <h2>Requirements Discovery Workshops <span class="hint">build the right product</span></h2>

  <p>One of the hardest things to do in an agile project or any project for that matter is <%= link_to "to begin", "/classes.html#how_to_start_an_agile_project" %>.  Lots of questions need to be answered.  How much will it cost?  Is this project technically feasible?  What does done look like?  What's in the backlog?  Even should we do this project?</p>
  
  <p>Agile teams struggle with these questions, often not answering them until halfway through the project or even after the project has completed.  A requirements discovery workshop strives to answer all of these questions in a collaborative, iterative way.  With the right people in the room, a week or even a few days are often enough time to generate a prioritized, estimated backlog, a prioritized list of goals, risks, and even some rough wireframes for a 3 month release.</p>
  
  <p>This is no small feat, and it is only with a high degree of facilitation and relying heavily on the workshop's participants and techniques like Story Mapping, Innovation Games, and Paper Prototyping that we as a team can produce these deliverables on such a short timeframe.</p>
</div>

<a name="retrospectives"></a>
<div class="service">
  <h2>Retrospectives <span class="hint">adopt a culture of innovation</span></h2>
  
  <p>Retrospectives are a way to reflect over the past as a team.  They provide a ceremony for identifying areas to improve and for celebrating successes.  Run a retrospective at the end of an iteration, at the end of a release, or as a project concludes.  They help us get smarter.</p>
  
  <p>Companies often bring me in to introduce this practice or reinvigorate it.  It is also sometimes helpful to have a neutral 3rd party run a particularly sensitive or important retrospective.</p>
</div>

<a name="best_practices"></a>
<div class="service">
  <h2>Developer Training / Coaching <span class="hint">make it all fun</span></h2>
  
  <p>There are many practices that agile introduces that take a bit of knowledge and work to get just right.  You might bring me in to help you with :</p>
  
  <ul>
    <li>
      Test Driven Development - which may include
      <ul>
        <li>Unit Testing</li>
        <li>Acceptance Testing</li>
        <li>Test Automation</li>
      </ul>
    </li>
    <li>Pair Programming</li>
    <li>Continuous Integration</li>
    <li>Refactoring</li>
  </ul>
</div>

<!-- <a name="facilitation"></a>
<div class="service">
  <h2>Facilitation</h2>
  
</div> -->
