% content_for(:current_tab) { "LNT Plans" }

h1. Leave No Trace Plan

h2. About Our Camp 

*Camp Name:* Lil' Town 

*History:* Look for the line of beautiful rocking chairs. There you will find ice cold sweet tea and canasta - the best card game known to man. Come chill out in our shade. As you enter our town you will be given a name tag and be treated as our life-long friend. This is where you belong, this is where you want to stay and relax. Come sit on our front porch!  

*Background:* We are a mix of involved veterans and excited first-timers. Our founders have been attending burning man for 3 years. Our founders (Joshua Keroes, Jeremy Lightsmith, Karissa Lightsmith, Sara Dwyer, and Luke Haynes) have been a part of theme camps in the past. They have enjoyed sharing activities with the community such as propane soccer, random hug patrol, life-size rock-um sock-um robots, last year's White Trash Procession, and performing at Center Camp with both Trashcan Joe (2008) and the Saloon Ensemble (2007). We have had such a great time being a part of theme camps and contributing to this amazing city! This year we would also like to give back as a theme camp; this time with a new idea. We obviously want to return year after year and improve a little each time.  

*Estimated Population:* 14 

*Nature and scale of our activities:* At home in the Northwest, we are already a community of close friends and artists. People feeling welcome, comfortable, and then not wanting to leave is our specialty. (Ahhhhh, the vortex!) We would love to extend this commitment to community onto the playa. We want our town to be the one you keep coming back to, for that feeling you get when you know your neighbor, you know they care for you, and you plain enjoy their company. Our town is the lil’ one that brings you in with its charm, the one you don’t want to leave. As such, we will provide ice-chilled sweet tea and lemonade, play canasta, and offer comfortable rocking chairs for lounging. 

*As a camp we will:*

* Plan Ahead
* Practice the 5 R’s: Rethink, Reduce, Reuse, Recycle, Restore, and Respect
* Keep our camp clean before, during and after the event
* Adopt the seven principles and practices of Leave No Trace at Burning Man
* Do what is necessary to protect and restore the Black Rock Desert
* Identify potential problems and issues that may arise
* Create a strategy or plan for Leaving No Trace
* We will educate all camp members about minimizing our impact on the playa

h2. How we will organize for Leave No Trace

h3. Our LNT leadership and structure:   

Andrew Smith and Alisa Light will lead the LNT activities as ambassador and assistant ambassador, respectively. Andrew will be in charge of setting the LNT plan. Alisa will aid Andrew in ensuring each member sticks to the LNT plan and respects the earth. Each member will be held accountable for maintaining their personal and community space throughout the duration of Burning Man.   

We hereby designate Andrew Smith as our Ambassador to the Black Rock Desert and leader of our Leave No Trace Team: Alisa Light (Assistant Ambassador) and Joshua Keroes (Adviser). 

The team will help plan our purchases, what we bring to the playa, and encourage us to reuse, recycle, reduce and restore our materials.  They will think about how we and all of our stuff will get there and make it home again. The team will keep our camp clean and fun before, during and after the event and delegate and enlist help when it is needed.  

They will be responsible for cleanup and trash management in our camp, including activities and parties we host. They will make sure that our gray water does not impact the playa.  They will see that all camp members understand and agree with the policies and practices of Leave No Trace at Burning Man.  

They will oversee daily tasks and will have a plan in place when we get ready to leave.

When it's time to break down and sweep our camp for every last trace. The Ambassador will make sure EVERYTHING left goes with us. 

The Ambassador will encourage our participation in community line sweeps and restoration with our neighbors and DPW. 

Alisa Light will oversee our camp breakdown and cleanup.  
       

h2. Our Commitment to Leave No Trace 

<div style="border: solid black 2px; padding: 0 1em;">

h3. To minimize our impact on the Playa, we will follow these rules:

h3. Before the event

* We pledge to Leave No Trace in and around our campsite, including our own and others’ waste.
* We will read the survival guide and LNT tips.
* We will complete this camp’s Leave No Trace Plan and share it with the entire camp.
* We will plan the assembly and takedown of our structures and decorations and tape the edges of our carpets
* We will inventory vehicle space so we can pack out everything
* We will take the packaging off of just about everything and stock up on reusable products and containers
* We will shop for simple finger foods and prepare meals in advance to reduce waste
* We will bring no glass, cheap trinkets, small feathers, and anything that might get left on the playa

h3. During the event

* We will check our camp daily
* We will clean as we go, realizing that any trash or MOOP (matter out of place) can blow away or be buried at any moment.
* We will keep our recyclables, burnables, and non-burnables clearly separated for easy disposal,
* We will recycle our aluminum, either on-site or back home
* We will have special cleanup crews for any high traffic activities we host and take care of any trash left by guests, invited or otherwise.
* We won’t leave trash in or around the port-o-potties
* We won’t light fires on bare ground or dig pits, leaving scars. If we must burn, we’ll use a public burn barrel  or burn platform
* We will burn only clean untreated wood or paper (nothing synthetic) and follow the safety guidelines for fires and burn scar prevention.
* We won’t dig large holes or trenches
* We will keep all items tied or weighted down, and leave papers at home.
* We will not dump any grey or black water on the playa
* We will encourage members of our camp to carry a personal trash (MOOP) container and a cigarette butt container when they are outside camp.

h3. After the event

* We will put aside time and have designated volunteers for the final cleanup
* We will take all trash in sealed containers to a landfill and recyclables to a recycle center on the way home.
* After cleaning our camp, everyone in our camp will devote at least two hours to the general city cleanup (e.g. trash fence, local port-o-potties, café, etc).
* We will leave extra space in every vehicle on the way to the desert, knowing that repacking will inevitably take up more space and ensure that no items can detach during the ride home.
* We will pack out everything, including any unevaporated gray water and scum
* We won’t put trash in or around the port-o-potties
* We will help out our neighbors and fellow citizens

h3. We will be Good Neighbors

* We will encourage our guests to bring their own beverage containers.
* We will help out our neighbors
* We will adopt the space around our camp, making sure that  it stays traceless
* We will help careless or forgetful campers

</div>

h2. Here's how we’ll do it  

h3. Design our camp in a way that is easy to keep clean:

We will have trash and recycle and containers set up for general camp use.  We will have daily maintenance of community areas to reduce clutter that could become MOOP. Visitors to our camp will be guided to help keep our camp clean with helpful, camp-themed reminders, such as “Remember to clean up after yourself!” 

h3. Select materials and decorations for our camp that lessen waste and are recyclable or reusable: 

The shade structure that we intend to create will be reusable tarp and PVC piping. The shade structure will be reused for multiple years.  Our main decoration, rocking chairs, will be acquired used and then either recycled as art or for practical purposes. 

 
h3. Create a detailed plan for the breakdown/cleanup of our camp, accounting for every board, stake, and scrap, and pack necessary tools and supplies: 

We will use a PVC cutter to deconstruct the shade structure, allowing us to make clean cuts that can then be joined with couplers for future use.  All materials and decorations used for community and personal space will be packed by the individuals that brought them to the playa.  Any articles that are unclaimed at the end of cleanup will be stored in the cargo van to be redistributed at home.   

h3. Plan for extra cleanup and trash generated by activities and parties at our camp: 

We will bring additional garbage bags to handle extra waste. Our plan for evaporation and disposal of grey water provides for extra, unanticipated grey water. 

h3. Have a plan for proper evaporation or disposal of our grey water, including containers to haul out what’s left: 

We will use an innovative, tested grey water evaporation system. Called the Gray-B-Gon, this system exposes the grey water to wind for more effective evaporation. A rotating drum prevents loss of wick absorption and accumulation of playa dust. See the Figure 1 below for the setup of the system. The Gray-B-Gon system has been tested and improved over the course of four years on the playa. 

<div class="figure">
!img/gray-b-gone.jpg!<br/>Figure 1: Gray-B-Gon system.<br/>Source: "http://www.instructables.com/id/Gray_B_Gon_wind_powered_evapotron_for_graywater_di/":http://www.instructables.com/id/Gray_B_Gon_wind_powered_evapotron_for_graywater_di/ 
</div>

Although we will have a grey water evaporation system, we know that no plan is immune to complications. We will use spent water containers to haul back any grey water that does not evaporate. 

h3. Plan enough space and storage in our vehicles for trash hauling: 

Each vehicle will plan at least 6 cubic feet of space for trash and grey water hauling.  The two vans will each plan to carry 25 cubic feet. 

h3. Explain the ground rules to all camp members and post our LNT plan on our website: 

Camp members will be briefed of LNT ground rules and daily cleanup activities. These rules will also be posted on our website ("http://jeremyandkarissa.com/liltown/town_layout.html":http://jeremyandkarissa.com/liltown/town_layout.html). Ground rules will also be posted in our communal area. We will have a LNT Patrol (designated by cool badges) to be specifically in charge of enforcing compliance with the rules.  

Camp members will also be encouraged to keep sustainability in mind when planning for Burning Man. Emails will be sent out with advice on reducing waste through smart meal planning, planning, and resource-sharing. 

h3. Provide space for storage of trash and recyclables: 

A secured trash separation station with signage and tags and plenty of heavy duty garbage bags will be at our camp. 

 
h2. We will bring the following items for camp operations: 

* Separate, sealed containers for recyclables, burnables, and non-burnables, a Found bin and signage and tags.
* Reusable dinnerware and utensils, including a portable beverage container for serving refreshments.
* A large water container for camp water supplies (no small containers)
* 5-gallon bucket and painter’s mesh for wet kitchen scraps.
* Containers for grey water disposal
* Containers for smokers’ butts
* Tarps or other floor covering to ‘catch’ any items that drop

h2. We will bring the following items for our camp’s breakdown, clean-up and restoration:

* Big whiskbroom  and push brooms
* Flat blade shovel for burn scars or dune MOOP
* Large landscape rake and smaller rakes for sweeping through dust piles
* Stiff long handled broom for breaking up dunes
* Rope and string for tying loose stuff down.
* Small spare bags for collecting trash as we wander.
* Lots on industrial strength trash bags – more than we think we'll need.
* Cheap work gloves for everybody.
* Long-handled sledgehammer for compacting 5-gallon buckets and driving stakes.
* Stake puller for removing stakes and rebar.
* Directions and hours of landfills and RV water dump stations
* Magnets or magnet sweepers to remove every last nails, staples, scrap of metal.
* Vehicles and/or trailers  to haul everything out

h2. Packing Out and Restoration of Our Site

* We will take away everything we brought with us plus a few things we didn’t know we’d have.
* Our restoration team will use cones on the outside of our camp’s border to define our boundaries, break up any dunes that formed around vehicles or structures,  then divide up our area and begin line sweeps.
* If we don’t have enough folks on our team to form one line across the site, we will break our space up into smaller areas and have each restoration volunteer deMoop their area.
* We will pick up all woodchips, broken glass, plastic debris, metal debris, fire works and plant material.
* We complete restoration of any hotspots (micro-MOOP collections), or burnscars.
* We will try to give a helping hand to our neighbors

h2. Black Rock Desert Restoration

* We will each contribute at least 2 hours of community clean-up
* We will pitch in with our fellow citizens and community service teams to restore the natural characteristics of the playa in our neighborhood, removing all burn scars, dunes, leftover debris, or other physical traces of our presence.
* We will participate in DPW line sweeps and local restoration efforts.
* We will volunteer for and support ecological protection and restoration of the Black Rock Desert
