% content_for(:current_tab) { "Town Layout" }

h1. Town Layout

Check out our town!

<img src="img/town_layout.gif" style="margin-left: -175px; margin-top: -5em"/>

<div style="text-align: right; margin-top: -5em; margin-bottom: 1em">_thanks to Luke for doing the model_<br/>see a "jpg version":img/town_layout.jpg</div>

The idea behind Liltown is to be a country porch looking over the street.  We will have ~ 18 colorfully decorated rocking chairs on our "porch".  We'll have some cute "welcome to liltown signs" to welcome people.

The main structure will be the Town Hall, a shade structure composed of a grid of 10' x 14' bays.  Some of the porch and chairs will be outside the shade structure when there is enough shade.  Otherwise, they will be in the Town Hall.  Because of the shade requirements, we would much prefer to have our street side be on our north side.

Our vehicles will form a U around the Town Hall, and we will have tents under the back bays of our Town Hall.  On one side, the Town Hall will stretch over a van.

The Town Hall will be a PVC structure covered with tarps and aluminet on the sides.  We will use pounded rebar into the playa for stability of the columns and to account for lateral displacement.  Airplane wires will cross brace the tops of each bay for added structural stability.  We'll use rope to anchor the corners of the sturcture to the playa.

The Town Hall will also have christmas lights on at night which will be the only electricity the camp uses.  We will be using a couple car batteries to power the lights.

In the Town Hall, we will have our kitchen along with moop containers (trashbags secured by rope to the shade structure).

Outside the Town Hall we will have an evap pond and a bamboo tripod shower.